body {
color:black;

background-image:url(wait.jpg);
background-size: 100%;
background-repeat: no-repeat;
}

#titre{ font-size: 100px;
		color: black;
		text-align: center; 
		font font-weight: bold;
		font-family: 'Pacifico', cursive;
		text-shadow: 2px 2px 8px #9E9696;
		}




#Compte{
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 40px;
  font-family: 'open sans' 
}

#block-compte-rebours{ padding-right: auto;
						padding-left: auto;
						text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;}

